

.menu{
	float: left;
	margin-left: 30px;
	padding-left: 20px;
	background-color: #fff;
	line-height:2rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 3px;
}
.side{
	padding-left:20px;
	background-color: #fff;
	line-height: 1.6rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
}

.nav{
	background-color:#eee;
	padding:0px;
	/*position: fixed;*/

}
.nav a{
	margin-left:200px;
}

.container{
    width: 729px;
    border: 1px solid #ccc;
    color: #586675;
    background-color: #fafafa;
    margin-bottom: 25px;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    font-family: raleway,Arial,sans-serif;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
}

option{
	margin-left: 100%;
}
.para{
	width:70%;
    border: 1px solid #ccc;
    color: #586675;
    margin-bottom: 25px;
    padding-bottom: 100px;
    text-align: center;
    /*float: left;*/
    margin-left: 200px;
    
}
mark{
	background-color: yellow;
	margin-right: 500px;
}

#convrt{
	background-color:#dddddd;
    line-height: 1.8rem;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 7px;
    margin-right: 500px;
}
.p2,h3{
	margin-right: 250px;
}


.p2{
	margin-right: 250px;
	font-family: Verdana,Arial,sans-serif;
	text-align: left;
	line-height: 1.625;
	margin-right: 30px;
}
.para{
	/*margin-left: 250px;*/
}

#nav.nav{
	background-color: red;
}

th{
	background-color: purple;
	color: white;
	/*position:fixed;*/
	
}

	table tbody tr:nth-child(odd) td,tbody tr.odd td{
		background: #f0f8ff;
}


td, th {
	  border: 1px solid #dddddd;
	  text-align: left;
	  padding: 8px;
}
h1{
	margin-bottom:-100px;
}

tr{ 
 background-color:; 

}

@media screen and (max-width:500px){
	body{
		width: 100%
		
	}
	.content,.container,.menu,.nav{
		/*background-color:blue;*/
		width: 100%;
		color:red;
	
	}
	.para{
		background-color: orange;
		width: 100%;
		/*float: left;*/
		/*margin-right: 100px;*/
	}
	.p1,p{
		/*background-color: red;*/
		width: 70%;
	}	
	.p2,p{
		/*background-color: red;*/
		width: 70%;
	}
}	

}

/*Area css start here*/
.container2{
    width: 729px;
    color: #586675;
    margin-bottom: 25px;
    padding-bottom: 40px;
    padding-top: 10px;
    text-align: center;
    font-family: raleway,Arial,sans-serif;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
   
}

.top{
	margin-right:450px; 
}

.text{
width: 680px;
color: #555;
 background-color: #fafafa;
font-size: 15px;
font-family: Verdana,Arial,sans-serif;
border: 1px solid #ccc;
text-align: left;
float: left;
padding-left: 20px;
padding-bottom: 30px;
line-height: 1.625;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
